
body {
    display: flex;
    align-items: center;
    justify-items: center;
    justify-content: center;
    align-content: center;
    background-color: #faeaeb;
    width: 100%;
    height: 100%;
}

img {
    height: 100vh;
}